*{
margin: 0;
padding: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
scroll-behavior: smooth;
scrollbar-color:#0a192f ;
}
a{
text-decoration: none;
}

:root{
--main-color:#8892b0;
--sec-color:#64ffda;
--f-s: 14px;
--f-m:16px;
--padding:40px 0 ;
}
body{
background-color: #0a192f;
font-family: sans-serif;
line-height: 1.3;
font-size: 20px;
scroll-behavior: smooth;
overflow-x: hidden;
justify-content: center;
}
span{
color: var(--sec-color);
transition: 0.5s;
}
span:hover {
font-size: 25px;
}



header{
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 20px;
padding-left: 20px;
background-color: rgba(10, 25, 47, 0.85);
height: 100px;
width: 100%;
transition: 0.3s;

}

header .logo a{
color:var(--sec-color);
}


header h1{
border-radius: 50%;
border: 1px solid var(--sec-color);
padding: 5px 10px;
}


header a{
text-decoration: none;
color: var(--sec-color);
font-family: 'Roboto Mono', monospace;
color: gray;
}
header li a:hover{
color: var(--sec-color);
}


header li{
list-style-type: none;
margin: 0px auto 10px;
}
.nav-bar .butt{
	border: 1px solid var(--sec-color);
	border-radius: 3px;
	}
	.nav-bar .butt a{
	color: var(--sec-color);
	}
	.nav-bar .butt:hover{
	background-color:var(--main-color);
	opacity: 0.9;
	}

/* intro */
.intro{
padding: 0 15px;
min-height: 100vh;
}

.intro h1{
font-size: 35px;
color: #ccd6f6;
margin: 0 0 0.65rem;
width: 100%;
}

.intro h2{
color:var(--sec-color);
font-size: clamp(var(--f-s),5vw,var(--f-m));
font-family: 'Roboto Mono', monospace;
font-weight: 400;
}
.intro h3{
font-size: clamp(30px, 8vw, 70px);
color: var(--main-color);
line-height: 0.9;
font-family:sans-serif;


}
.intro p{
line-height: 1.6em;
color: var(--main-color);
margin-top: 20px;
}
.nav-bar li a span{
	color: var(--sec-color);
	font-family: 'Roboto Mono', monospace;
}
.containar .landing{
padding: 150px 0 0 0;
}
/*about */
.about{
padding: 0 15px;
color: var(--main-color);
font-size: 16px;
height: 100vh;
}
.about h1:after{
	content: "";
	width: 30%;
	height: 1px;
	position: relative;
	background-color: antiquewhite;
	display: inline-block;
	left: 50px;
	bottom: 10px;
	}
	.about-sec{
	display: grid;
	grid-template-rows: auto auto;
	justify-content: space-between;
	padding: 30px 0 0 0;
	}
	
	.about-sec .text p{
	line-height: 1.6rem;
	color: var(--main-color);
	margin: 10px 0 0 0;
	}
	
	.worked{
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		padding: 50px 0 0 0;
		height: 100vh;
		
		}
		.worked:after{
			visibility: visible;
			opacity: 1;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
			transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
		}
		button{
			display: none;
			}
		.worked span{
		color: var(--sec-color);
		margin-right: 10px;
		font-family: monospace;
		font-size: 30px;
		}
		.worked h1{
			color: white;
			font-family: sans-serif;
			font-size: 20px;
			padding: 50px 0 0 0;
		}
		.worked h1:after{
		content: "";
		position: relative;
		width: 20%;
		height: 1px;
		background-color: var(--main-color);
		display: inline-block;
		}
		.worked .worke-sec{
		
		display: grid;
		grid-template-rows: 50%;
		gap: 50px;
		justify-content: flex-start;
		align-items: center;
		padding: 10% 0 0 10%;
		}
		.worked .worke-sec img{
		width: 100%;
		height: 100%;
		border-radius: 5px;
		position: relative;
		}
		
		#img{
			background-color:transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 200px;
			height: 100%;
			box-shadow: -10px 5px 10px gray;
			top: 0;
			transition: top ease 0.5s;
		}
		#img:hover{
		top:-50px;
		}
footer{
	padding: 200px 15px 0 15px;
	text-align: center;
}
footer h3{
color: var(--sec-color);
font-size:20px;
font-family: monospace;
margin-bottom: 30px;
}
footer h2{
color: whitesmoke;
margin-bottom: 30px;
}
footer p{
color: var(--main-color);
font-family: sans-serif;
font-size: 16px;
line-height: 1.6rem;
}
footer button{
border: 1px solid var(--sec-color);
}
footer ul{
display: flex;
justify-content: center;
padding-top: 100px;
padding-bottom: 100px;
}
footer ul li {
list-style-type: none;
padding: 20px 15px;
}
footer ul li a {
color: var(--main-color);
}
footer ul li a:hover{
color:var(--sec-color);
}
	
/*Small SCreen*/
@media (max-width:35rem){
/*
	.nav-bar{
	display: none;
	background-color: #112240;
	inset: 0 0 0 30%;
	position: fixed;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: min(75vw, 400px);
	top: 0;
	right: 0;
	bottom: 0;
	outline: currentcolor none 0px;
	padding: 20px 0;
	transform: translatex(100%);
}
.nav-bar[data-visible="true"]{
	transform: translatex(0%);
}
.nav-bar li{
padding: min(20px)
}
.humb{
	display: none;
position: absolute;
background: url(image/hamburger-menu-icon-svg-17.png);
background-color: transparent;
background-repeat: no-repeat;
background-size: cover;
width: 2rem;
z-index: 999;
aspect-ratio: 1 / 1;
right: 2rem;
border: none;

}
*/
.containar .landing .links{
display: none;
}
.worked{
padding: 0 15px;
}
.about-sec .about-image:after{
	content: '';
	height: 200px;
	width: 150px;
	background-color: transparent;
	position: relative;
	display: inline-block;
	border: 3px solid aqua;
	bottom: 10%;
	left: -10%;
	}
	.about-sec .about-image:after:hover{
		left: 50px;
	bottom:50px;
	opacity: 0.4;
	color: #64ffda;
	transition: 0.5s;
	z-index: 999;
	}
	.about-sec .about-image img{
		height: 300px;
		width: 300;
		position: relative;
		display: inline-block;
		left: 100px;
		z-index: 999;
		transform: 0.5s;
		padding: 50px 0;
		}
		.about-sec .about-image img:hover {
		left: 50px;
		bottom:50px;
		opacity: 0.4;
		color: #64ffda;
		transition: 0.5s;
		z-index: 999;
		}
		.town{
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 400px;
			display: grid;
			grid-template-rows: auto;
			align-items: center;
			justify-content: center;
			color: var(--main-color);
			text-align: center;
	
			}
			.town .title{
				display: flex;
				text-align: center;
				background-color: transparent;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid white;
				box-shadow: -10px 5px 10px gray;
				bottom: -10px;
				transition: bottom ease 0.5s;
				background: url(image/unnamed.png);
				background-position: center;
				height: 200px;
				padding-bottom: 50px;
			
			}
			.town .title:hover{
			color:var(--sec-color);
			bottom:20px;
			}
			.town:after{
			display: none;
			
			}
			
			.town h2{
			font-size: 20px;
			}
			.town h2 a{
			color:var(--sec-color);
			transition: 0.5s;
			
			}
			.town h2 a:hover{
			margin-left: 20px;
			}
			.town p {
			font-size: 20px;
			padding: 10px 0 0 0;
			}
			.town ul li{
			padding: 20px 0 0 0;
			}
			#coup{
				display: flex;
				text-align: center;
				background-color: transparent;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid white;
				box-shadow: -10px 5px 10px gray;
				top: 10px;
				transition:top ease 0.5s;
				background: url(image/download.png);
				background-position: center;
				height: 200px;
				padding-bottom: 10px;
				background-size: cover;
				background-position: center;
			}
			#coup:hover{
				top:-50px;
			}
			#twins{
				display: flex;
				text-align: center;
				background-color: transparent;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid white;
				box-shadow: -10px 5px 10px gray;
				top: -10px;
				transition: top ease 0.5s;
				background: url(image/7007.jpg);
				background-position: center;
				height: 200px;
				padding-bottom: 50px;
			}
			#twins:hover{
				top:-50px;
			}
}



/* big screen */
@media (min-width:640px){
.containar{
width: 1000px;
margin-left: auto;
margin-right: auto;
}
header{
padding: 50px;
}
.intro h1{
font-size:  clamp(40px, 8vw, 80px);;
}
.nav-bar{
padding: 20px;
display: flex;
display: flex;
background-color: none;

}

.nav-bar li{
padding: 20px;
}
.nav-bar li a {
color: var(--main-color);
font-size: var(--f-s);
}
.nav-bar li a span{
color: var(--sec-color);
font-family: 'Roboto Mono', monospace;

}

.containar .landing{
width: 1000px;
padding-left: 15px;
padding-right: 15px;

}
.containar p{
width: 540px;
}
.containar .landing .links {
bottom: 0;
left: 4%;
position: fixed;
text-decoration: none;

}

.containar .landing .links li{
padding: 10px;
list-style-type:  none;

}
.containar .landing .links li a{
list-style-type:  none;
font-size: 25px;
color:var(--main-color);
top:0;
transition: 0.5s;
position: relative;
}
.containar .landing .links li a:hover{
color: var(--sec-color);
top:-10px;
}
.containar .landing .links ul:after{
	content: "";
	display: block;
	width: 1px;
	height: 90px;
	margin: 0px auto;
	background-color: var(--main-color);
}
.about span{
color: var(--sec-color);
margin-right: 10px;
font-family: monospace;
}
.about h1{
color: white;
font-family: sans-serif;
}
.about h1:after{
content: "";
width: 30%;
height: 1px;
position: relative;
background-color: antiquewhite;
display: inline-block;
left: 50px;
bottom: 10px;
}
.about-sec{
display: grid;
grid-template-columns: auto auto;
justify-content: space-between;
padding: 30px 0 0 0;
}
.about-sec .about-image img{
height: 300px;
width: 300;
position: relative;
display: inline-block;
left: 100px;
z-index: 999;
transform: 0.5s;
}
.about-sec .about-image img:hover {
left: 50px;
bottom:50px;
opacity: 0.4;
color: #64ffda;
transition: 0.5s;
z-index: 999;
}

.about-sec .text p{
line-height: 1.6rem;
color: var(--main-color);
margin: 10px 0 0 0;
}
.about-sec .about-image:after{
content: '';
height: 300px;
width: 250px;
background-color: transparent;
position: relative;
display: inline-block;
border: 3px solid aqua;
bottom: 45%;
left: 25%;
}
.about-sec .about-image:after:hover{
	left: 50px;
bottom:50px;
opacity: 0.4;
color: #64ffda;
transition: 0.5s;
z-index: 999;
}

.worked{
width: 700px;
margin-left: auto;
margin-right: auto;
padding: 50px 0 0 0;
height: 100vh;

}
.worked:after{
	visibility: visible;
	opacity: 1;
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}
button{
	display: none;
	}
.worked span{
color: var(--sec-color);
margin-right: 10px;
font-family: monospace;
font-size: 30px;
}
.worked h1{
	color: white;
	font-family: sans-serif;
}
.worked h1:after{
content: "";
position: relative;
width: 30%;
height: 1px;
background-color: var(--main-color);
display: inline-block;
}
.worked .worke-sec{
display: flex;
gap: 100px;
padding: 10% 0 0 0;
}
.worked .worke-sec img{
width: 100%;
height: 100%;
border-radius: 5px;
position: relative;
}

#img{
	background-color:transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 400px;
	height: 100%;
	border: 1px solid white;
	box-shadow: -10px 5px 10px gray;
	top: 0;
	transition: top ease 0.5s;
}
#img:hover{
top:-50px;
}
.town{
display: grid;
grid-template-columns: 40% 60%;
align-items: flex-start;
justify-content: space-between;
width: 600px;
margin-left: auto;
margin-right: auto;
color: var(--main-color);
gap: 50px;
}
.town .title{
	display: flex;
	text-align: center;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 200px;
	height: 200px;
	border: 1px solid white;
	box-shadow: -10px 5px 10px gray;
	top: -50px;
	transition: top ease 0.5s;
	background: url(image/unnamed.png);
	background-position: center;

}
.town .title:hover{
color:var(--sec-color);
top:20px;
}
.town:after{
content: "";
position: relative;
display: inline-block;
height: 400px;
width: 1px;
background-color:var(--sec-color);
top:-100%;
left:-10px;
}

.town h2{
font-size: 20px;
}
.town h2 a{
color:var(--sec-color);
transition: 0.5s;

}
.town h2 a:hover{
margin-left: 20px;
}
.town p {
font-size: 20px;
padding: 10px 0 0 0;
}
.town ul li{
padding: 20px 0 0 0;
}
#coup{
	display: flex;
	text-align: center;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 200px;
	height: 200px;
	border: 1px solid white;
	box-shadow: -10px 5px 10px gray;
	top: -50px;
	transition: top ease 0.5s;
	background: url(image/download.png);
	background-position: center;

}
#coup:hover{
	top:-50px;
}
#twins{
	display: flex;
	text-align: center;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 200px;
	height: 200px;
	border: 1px solid white;
	box-shadow: -10px 5px 10px gray;
	top: -50px;
	transition: top ease 0.5s;
	background: url(image/7007.jpg);
	background-position: center;
}
#twins:hover{
	top:-50px;
}
}